.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(139, 133, 133, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
.modal {
  position: absolute;
  top: 10%;
  left: 20%;
  margin: 50px auto;
  width: 60%;
  background-color: #fff;
  text-align: center;
}

span {
  display: block;
  margin-left: 95%;
  cursor: pointer;
}
